
<header class="header">
        
        
    <div class="col-md-2 user-img-wrapper">
        <div *ngIf="auth.isLoggedIn()" routerLink="/user/{{auth.currentUser.id}}">
            <img  [src]="auth.currentUser.img ? auth.currentUser.img : avatar" >
            <mat-chip *ngIf="auth.currentUser.name" class="user-name" color="primary" selected>{{auth.currentUser.name}}</mat-chip>
        </div>
      
    </div>
   


    <div class="col-md-8 header-title-wrapper" >
        <h1 routerLink="/" class="header-title">אירועים</h1>
    </div> 
           
     

    <div class="col-md-2 col-sm-4 pull-right header-menu-wrapper">
        <button mat-icon-button [matMenuTriggerFor]="menu" class="main-menu-btn">
            <mat-icon *ngIf="auth.isLoggedIn()" matBadge="{{auth.currentUser.notes}}" matBadgeColor="warn" >menu</mat-icon>
            <mat-icon *ngIf="!auth.isLoggedIn()" >menu</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item>
                <mat-icon>expand_less</mat-icon>
            </button>

            <button *ngIf="auth.isLoggedIn()" mat-menu-item routerLink="/user/{{auth.currentUser.subs}}">
                <mat-icon>person</mat-icon>
            </button>

        
            <button mat-menu-item *ngIf="auth.isLoggedIn()" routerLink="/notifications" >
                <mat-icon matBadge="{{auth.currentUser.notes}}" matBadgeColor="warn">alarm</mat-icon>
            </button>


            <button *ngIf="auth.isLoggedIn()" mat-menu-item routerLink="/freinds">
                <mat-icon>people</mat-icon>
            </button>
            <button *ngIf="auth.isLoggedIn()" (click)="auth.logout()" mat-menu-item routerLink="/login">
                <mat-icon>lock</mat-icon>
            </button>
            <button *ngIf="!auth.isLoggedIn()" mat-menu-item routerLink="/login">
                <mat-icon>lock_open</mat-icon>
            </button>
        </mat-menu>
    </div>
       
            

    
    
</header>


