<div class="mat-elevation-z8">
  
  <new-suppliy [errorDuplicate]="duplicateSupply" (add)="addSupply($event)"></new-suppliy>

  <mat-table #table [dataSource]="dataSource" matSort aria-label="Elements">

    <!-- title Column -->
    <ng-container matColumnDef="title">
      <mat-header-cell *matHeaderCellDef mat-sort-header>ציוד</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.title}}</mat-cell>
    </ng-container>

    <!-- amount Column -->
    <ng-container matColumnDef="amount">
      <mat-header-cell *matHeaderCellDef mat-sort-header>כמות</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.amount}}</mat-cell>
    </ng-container>
    
    <!-- Confirmed Column -->
    <ng-container matColumnDef="confirmed">
        <mat-header-cell *matHeaderCellDef mat-sort-header>כמה יש</mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.confirmed}}</mat-cell>
      </ng-container>
     

      <!-- who brings Column -->
      <ng-container matColumnDef="who_brings">
        <mat-header-cell *matHeaderCellDef mat-sort-header>מי מביא</mat-header-cell>
        <mat-cell class="who-bring-cell" *matCellDef="let row">
          
            <div class="row who-bring-wrapper" *ngFor="let friend of row.Who_brings">
              <span> {{ friendName(friend.friend_id) }} </span> | <span> {{ friend.amount }} </span>    
            </div>
        </mat-cell>
      </ng-container>

    <!-- Missing Column -->
    <ng-container matColumnDef="missing">
      <mat-header-cell *matHeaderCellDef mat-sort-header>כמה חסר</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.amount-row.confirmed}}</mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let supply; columns: displayedColumns;" (click)="editSupply(supply)" class="supplyRow"></mat-row>
  </mat-table>

  <mat-paginator #paginator
    [length]="dataSource.supplys.length"
    [pageIndex]="0"
    [pageSize]="50"
    [pageSizeOptions]="[25, 50, 100, 250]">
  </mat-paginator>
</div>