.user-container {
    width: 100%;
    height: 700px;
    text-align: center;
    background-color: #ffffff;
    -webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
-o-user-select: none;
user-select: none;

  }
  
  .user-sidenav-content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
  }
  
  .user-sidenav {
    padding: 10px;
    width: 120px;
  }
  .user-sidenav-content button{
    position: absolute;
    top: 0;
    right: 0;
  }

  .user-sidenav-list .mat-list-item{

    cursor: pointer;
  }

  .user-sidenav-list .mat-list-item:hover{
      background-color: antiquewhite;
  }

  .selected{
    background-color:antiquewhite;
  }

  .user-inside-container{
    position: relative;
    width: 100%;
    height: 100%;;
    padding:10px;
    z-index: -100;
    
      
  }

  .side-bar-toggle-btn{
    background-color: #ffffff;
    width: 20px;
    min-width: 20px;
    text-align: center;
    padding: 0;
   
  }