<section class="event-form-section">

  <div class="row justify-content-md-center">

    <mat-tab-group class="event-tabs">
      
      <mat-tab label="הגדרות">
        <event-setting [event_id]="event_id"></event-setting>
      </mat-tab>
      
      <mat-tab label="חברים">
       <!-- <event-friends [event_id]="event_id" ></event-friends>-->
      </mat-tab>
    
      <mat-tab label="ציוד">
         <!-- <event-supply [event_id]="event_id" ></event-supply>-->
      </mat-tab>

      <mat-tab label="אוכל">
         <!-- <event-food [event_id]="event_id" ></event-food> -->
      </mat-tab>-->

      <mat-tab label="משחקים">
         <!-- <event-games [event_id]="event_id" ></event-games>-->
      </mat-tab>-->
    </mat-tab-group>  

  </div>
 
</section>